.JoinUs{
    padding-top: 60px;
    padding-left: 50px;
}
.JoinUsButtonSection{
    display: grid;
}
.JoinUsButtonSection button{
   margin-bottom: 20px;
}
.JoinUsButton1{
    margin-top: 10px;
    background-color: white;
    color: orange;
    font-size: 15px;
}
.JoinUsButton2{
background-color: transparent;
color: orange;
font-size: 15px;

border: 2px solid #aa6204;

}