.header{
        display: flex;
        padding: 10px 20px 0px 20px;
        height: 60px;
        background-color: blue;
        border-radius: 10px;
        color: white;
        align-items: center;
        /* justify-content: flex-start; */
        box-shadow: 0px 0px 4px 3px rgb(175, 135, 1);
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 35px;
        border-color: chocolate;
        font-family: bold;
        position: fixed;
        margin-bottom: 100px;
        justify-content: space-between;
        width: 90%;
        margin-inline: auto;
      
    }
    .headermain{
        width: 100%;
        display: flex;
justify-content: center;    } 
a{
text-decoration: none;
color: white;
}
ul{
    display: flex;
        gap: 30px;
        list-style-type: none;
}
nav{
    display: flex;
        align-items: center;
        gap: 400px;
        
}
.darkmood{
    display: flex;
    gap:20px
}
.headerSection1{
    display: flex;
    align-items: center;
}
.headerSection1 a{
    font-size: 25px;
}
.headerSection1 img{
   width: 122px;
   height: 44px;
}
.slide {
    width: 80px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(246, 245, 245);
    display: flex;
    align-items: center;
    
  }
  .darkcircle {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    /* kda bdayt el circle off */
    animation: toggeloff 0.5s linear forwards;
  }
  .lightcircle {
    width: 40px;
    height: 40px;
    border-radius: 30px;
   
    cursor: pointer;
    /* kda bdayt el circle off */
    animation: toggelon 0.5s linear forwards;
  }
  input {
    /* if i clicked it it will not make any thing  */
    visibility:hidden;
  } 

  @keyframes toggelon {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(40px);
    }
  }
  @keyframes toggeloff {
    0% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0px);
    }
}
.dark-theme{
    background-color: black;
}
.active{
    color: orange;
}